*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.forms {
    display: flex;
    width: 30%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(210, 240, 170);
    padding: 2%;
}
.forms [type = "text"] {
    width: 70%;
    margin-bottom: 10px;
}