<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Урок 13</title>
</head>
<body>
    <h1>Привет, новый пользователь!</h1>
    <br>
    <h3>Сегодня: {$date}</h3>
    <table>
            <thead>
                <tr>{foreach $header as $key => $value}
                    <th>{$value}</th>{/foreach}
                </tr>
            </thead>
            <tbody>
                {foreach $data as $key => $values}
                <tr>
                    {foreach $values as $key => $value}
                    <td>{$value}</td>{/foreach}
                </tr>{/foreach}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">Всего: {$len}</td>
                </tr>
            </tfoot>
    </table>    
</body>
</html>